function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.dispose 1
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 1
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 1
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 1
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 1
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 1
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 2
push argument 0
pop pointer 0
push argument 1
push this 0
sub
pop this 2
push argument 2
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
if-goto IF-TRUE0
goto IF-FALSE0
label IF-TRUE0
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 2
lt
pop this 8
push this 0
push argument 1
lt
pop this 9
goto IF-END0
label IF-FALSE0
push this 0
push argument 1
lt
pop this 8
push this 1
push argument 2
lt
pop this 9
label IF-END0
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 1
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt
if-goto IF-TRUE1
goto IF-FALSE1
label IF-TRUE1
push this 4
push this 5
add
pop this 4
goto IF-END1
label IF-FALSE1
push this 4
push this 6
add
pop this 4
push this 9
if-goto IF-TRUE2
goto IF-FALSE2
label IF-TRUE2
push this 7
if-goto IF-TRUE3
goto IF-FALSE3
label IF-TRUE3
push this 0
push constant 4
add
pop this 0
goto IF-END3
label IF-FALSE3
push this 1
push constant 4
add
pop this 1
label IF-END3
goto IF-END2
label IF-FALSE2
push this 7
if-goto IF-TRUE4
goto IF-FALSE4
label IF-TRUE4
push this 0
push constant 4
sub
pop this 0
goto IF-END4
label IF-FALSE4
push this 1
push constant 4
sub
pop this 1
label IF-END4
label IF-END2
label IF-END1
push this 8
if-goto IF-TRUE1
goto IF-FALSE1
label IF-TRUE1
push this 7
if-goto IF-TRUE6
goto IF-FALSE6
label IF-TRUE6
push this 1
push constant 4
add
pop this 1
goto IF-END6
label IF-FALSE6
push this 0
push constant 4
add
pop this 0
label IF-END6
goto IF-END1
label IF-FALSE1
push this 7
if-goto IF-TRUE7
goto IF-FALSE7
label IF-TRUE7
push this 1
push constant 4
sub
pop this 1
goto IF-END7
label IF-FALSE7
push this 0
push constant 4
sub
pop this 0
label IF-END7
label IF-END1
push this 0
push this 10
gt
not
not
if-goto IF-END1
push constant 1
pop this 14
push this 10
pop this 0
label IF-END1
push this 0
push this 11
lt
not
not
if-goto IF-END1
push constant 2
pop this 14
push this 11
pop this 0
label IF-END1
push this 1
push this 12
gt
not
not
if-goto IF-END1
push constant 3
pop this 14
push this 12
pop this 1
label IF-END1
push this 1
push this 13
lt
not
not
if-goto IF-END1
push constant 4
pop this 14
push this 13
pop this 1
label IF-END1
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return
function Ball.bounce 1
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide  2
pop local 2
push this 3
push constant 10
call Math.divide  2
pop local 3
push argument 1
push constant 0
eq
if-goto IF-TRUE12
goto IF-FALSE12
label IF-TRUE12
push constant 10
pop local 4
goto IF-END12
label IF-FALSE12
push this 2
push constant 0
lt
not
push argument 1
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 1
push constant 1
neg
eq
and
or
if-goto IF-TRUE13
goto IF-FALSE13
label IF-TRUE13
push constant 20
pop local 4
goto IF-END13
label IF-FALSE13
push constant 5
pop local 4
label IF-END13
label IF-END12
push this 14
push constant 1
eq
if-goto IF-TRUE12
goto IF-FALSE12
label IF-TRUE12
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide  2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto IF-END12
label IF-FALSE12
push this 14
push constant 2
eq
if-goto IF-TRUE15
goto IF-FALSE15
label IF-TRUE15
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide  2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto IF-END15
label IF-FALSE15
push this 14
push constant 3
eq
if-goto IF-TRUE16
goto IF-FALSE16
label IF-TRUE16
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide  2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto IF-END16
label IF-FALSE16
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide  2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label IF-END16
label IF-END15
label IF-END12
push pointer 0
push local 0
push local 1
call Ball.setDestination 2
pop temp 0
push constant 0
return
