p {
    font-size: 12px;
}



.titulo{
    font-family: 'Oswald', sans-serif; 
    font-size: 24px;
}

.tftable {
    font-size: 12px;
    color: #222222;
    width: 100%;
    border-width: 1px;
    border-color: #222222;
    border-collapse: collapse;
  }

  .tftable th {
    font-size: 12px;
    color: #E6E6E6;
    background-color: #222222;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #222222;
    text-align: left;
  }

  .tftable tr {
    background-color: #ffffff;
  }

  .tftable td {
    font-size: 12px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #222222;
  }

  .tftable tr:hover {   
    background-color: #E6E6E6;
  }

  .img-container {
    text-align: center;
    display: block;
  }

